<div
    class="flex-col w-[90%] max-w-120 p-4 font-[Space_Grotesk] rounded-xl gap-4 flex"
>
    <h1 class="font-bold text-3xl">About Me</h1>

    <p>
        I am a Degenerate Teenaged Software Engineer and <a
            class="underline"
            href="https://hackclub.com">Hackcluber</a
        >! My real name is Rhythm, but I go by Rez online.
    </p>

    <p>
        I love building things that are fun/cool or that I will use. I am most
        experienced in web development, but am quite good at other things as
        well and actively learning more!
    </p>

    <p>
        IRL I am a middle school student, gamer, cuber and grass toucher (lie)!
    </p>
</div>
