---
import SocialsIcon from "./Socials_Icon.astro";
---

<div
    class="flex-col w-[90%] max-w-120 p-4 font-[Space_Grotesk] rounded-xl gap-4 flex"
>
    <h1 class="font-bold text-3xl">Socials</h1>

    <div class="flex flex-wrap gap-2">
        <SocialsIcon icon="github" link="https://github.com/rezcolen3" />
        <SocialsIcon icon="hackclub" link="https://hackclub.slack.com/team/U082KMLM7DW" />
    </div>
</div>
