---
import Main from "@/layouts/Main.astro";

import About_Me from "@/components/about-me/About_Me.astro";
import Skills from "@/components/about-me/Skills.astro";
import GitHubStats from "@/components/about-me/GitHub_Stats.astro";
import Socials from "@/components/about-me/Socials.astro";
---

<Main title="About Rez">
    <div class="flex w-full overflow-y-auto items-center flex-col">
        <About_Me />

        <Skills />

        <Socials />

        <GitHubStats />
    </div>
</Main>
