---
import Main from "@/layouts/Main.astro";
---

<Main title="Home">
    <div class="flex w-full overflow-y-auto items-center flex-col">
        <div
            class="flex-col w-[90%] max-w-120 p-4 font-[Space_Grotesk] rounded-xl gap-2 flex"
        >
            <h1 class="font-bold text-3xl">Contact</h1>

            <ul class="text-md list-disc list-inside">
                <li>
                    <span class="font-bold">
                        <a class="underline" href="https://hackclub.com/">
                            Hack Club
                        </a>
                        Slack (only for under 19):
                    </span>
                    <a
                        class="underline"
                        href="https://hackclub.slack.com/team/U082KMLM7DW"
                    >
                        @RezHackXYZ
                    </a>
                </li>
                <li>
                    <span class="font-bold">Email:</span>
                    <a class="underline" href="mailto:rhythmupa@gmail.com">
                        rhythmupa@gmail.com
                    </a>
                </li>
            </ul>
        </div>
    </div>
</Main>
