---
import Base from "@/layouts/Base.astro";
import Left from "@/components/homepage/Left.astro";
---

<Base title="Home">
    <div class="flex h-full w-full justify-center items-center flex-col">
        <Left />
    </div>
</Base>
