---
const { title } = Astro.props;

import Base from "@/layouts/Base.astro";
import Nav from "@/components/Nav.astro";
---

<Base title={title}>
    <div class="flex p-3 w-full h-full items-center flex-col">
        <Nav />
        <slot />
    </div>
</Base>
